/* Wallboard Common  ---------------------------------------------------------------------------------- */
body {
    background:#000;
    color:#fff;
    font:12px/1.4 arial, helvetica, lucida, sans-serif;
    margin:0;
    overflow: hidden;
    padding:0;
    -webkit-font-smoothing: antialiased;
}
.view {
    padding:0.5em 1em;
}

#container {
    width : 100%;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    display: none;
}